---
import logo from "../assets/logo-black.png";
import Instagram from "../assets/icons/Instagram.astro";    
import WhatsApp from "../assets/icons/WhatsApp.astro";
import MobileMenuButton from "./MobileMenuButton.astro";
import { navLinks } from "../assets/data/navigation.js";

const socialLinks = [
  { href: "https://www.instagram.com", Icon: Instagram },
  { href: "https://wa.me/34600000000", Icon: WhatsApp },
];
---

<header class="fixed top-0 left-0 right-0 w-full z-50 bg-black backdrop-blur-md border-b border-white/5">
  <div class="max-w-350 2xl:max-w-screen-2xl mx-auto px-4 sm:px-6 h-16 sm:h-20 lg:h-14 2xl:h-32 flex items-center justify-between relative">
    
    <a href="/" class="flex items-center gap-3 sm:gap-4 group shrink-0">
      <div 
        class="w-8 h-8 sm:w-10 sm:h-10 lg:w-10 lg:h-10 2xl:w-16 2xl:h-16 rounded-xl flex items-center justify-center transition-transform group-hover:scale-105 bg-(--brand-green)" 
      >
       <img src={logo.src} alt="Logo CAR RIVAS" class="w-6 h-6 sm:w-8 sm:h-8 lg:w-8 lg:h-8 2xl:w-14 2xl:h-14"/>
      </div>
      <!-- <span class="text-white font-black text-xl 2xl:text-2xl uppercase sm:block hidden">
        CAR RIVAS
      </span> -->
    </a>

    <nav id="main-nav" class="hidden lg:flex flex-col items-center lg:flex-row absolute lg:absolute top-16 sm:top-20 lg:top-0 left-0 lg:left-0 w-full lg:w-full bg-black lg:bg-transparent border-t border-zinc-900 lg:border-none p-6 sm:p-8 lg:p-0 gap-4 sm:gap-6 lg:gap-6 xl:gap-10 2xl:gap-16 shadow-2xl lg:shadow-none z-40 lg:h-full lg:justify-center lg:pointer-events-none">
      {navLinks.map((link) => (
        <a
          href={link.href}
          class="text-zinc-400 hover:text-white transition-colors text-lg sm:text-xl lg:text-xs xl:text-sm 2xl:text-base font-bold uppercase tracking-widest border-b border-zinc-900 lg:border-none pb-2 lg:pb-0 mobile-link pointer-events-auto"
        >
          {link.name}
        </a>
      ))}
      <div class="flex items-center justify-center gap-6 sm:gap-10 lg:gap-6 mt-4 lg:mt-0 lg:absolute lg:right-6 pointer-events-auto">
        {socialLinks.map(({ href, Icon }) => (
          <a href={href} target="_blank" class="w-8 h-8 lg:w-6 lg:h-6 2xl:w-10 2xl:h-10 hover:scale-110 transition-transform">
            <Icon />
          </a>
        ))}
      </div>
    </nav>

    <div class="flex items-center gap-4">
      <MobileMenuButton />
    </div>
  </div>
</header>

<script>
  const btn = document.getElementById('mobile-menu-btn');
  const menu = document.getElementById('main-nav');
  const menuIcon = document.getElementById('menu-icon');
  const closeIcon = document.getElementById('close-icon');
  const mobileLinks = document.querySelectorAll('.mobile-link');

  function toggleMenu() {
    menu?.classList.toggle('hidden');
    menu?.classList.toggle('flex');
    menuIcon?.classList.toggle('hidden');
    closeIcon?.classList.toggle('hidden');
  }

  btn?.addEventListener('click', toggleMenu);
  mobileLinks.forEach(link => link.addEventListener('click', toggleMenu));
</script>